@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    font-weight: 400;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: 'Open Sans', sans-serif !important;
}

a {
    color: #569835;
}

.btn {
    font-weight: 700;
    box-shadow: none !important;
}

.btn:hover {
    box-shadow: none !important;
}

.btn.btn-primary {
    color: #fff;
    background-color: #608e42;
    border-color: #608e42;
    box-shadow: none;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: #466d2d;
    border-color: #466d2d;
    box-shadow: none;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td {
    padding: 6px 5px;
}

.custom_table_row_color thead {
    border-bottom: 2px solid #dddddd;
}

.custom_table_row_color tr:nth-child(even) {
    background: #f5f5f5;
}

.custom_table_row_color tr:last-child {
    border-bottom: 1px solid #dddddd;
}

.section_area_wrap {
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

.section_area_wrap .title {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid #bcbcbc;
    padding-bottom: 5px;
}

.assessment_wrap_item {
    padding: 0 10px 5px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 10px;
}

.assessment_wrap_item .form-control {
    background: #fafafa;
    padding: 5px 10px;
    border: 1px solid #e9e9e9;
}

.assessment_wrap_item .is-focused .form-control {
    background-image: initial;
}

.table_action {
    width: 200px;
}

.form_inline_block {
    display: inline-block;
}

.card .card-category {
    font-size: 16px;
    font-weight: 600;
}

.card .card-header {
    box-shadow: none !important;
}

.form-check, label {
    color: #252525;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #9c27b0 0px, rgba(156, 39, 176, 0) 0px), linear-gradient(to top, #d2d2d2 0px, rgba(210, 210, 210, 0) 1px);
}

.card .card-header .btn.btn-info {
    background: #fff;
    color: #252525;
}

.dataTables_wrapper .dataTables_length label {
    display: grid;
    grid-template-columns: auto 170px 1fr;
    grid-gap: 15px;
    align-items: center;
    font-weight: 600;
}

.dataTables_wrapper .dataTables_filter label {
    display: grid;
    grid-template-columns: auto 170px;
    grid-gap: 15px;
    align-items: center;
    font-weight: 600;
}

.dataTables_wrapper .dataTables_length label select {
    background: #f5f5f5;
    padding: 0 7px;
}

thead.text-primary {
    color: #252525 !important;
}

thead.text-primary th {
    font-weight: 600 !important;
}

.dataTable img,
.table .thum {
    height: 30px;
    width: 30px;
}

.btn.btn-primary.btn-link,
.btn.btn-primary.btn-link:hover {
    color: #569835;
}

.page-item .page-link {
    color: #569835;
}

.page-item.active .page-link {
    background-color: #569835;
    border-color: #569835;
}

.badge {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.3;
}

.select2-container {
    width:  100% !important;
}

.navbar-wrapper .page-title {
    font-size: 22px;
    font-weight: 700;
}

/*=======================================*/
/*===========Left Sidebar Menu===========*/
/*=======================================*/
.sidebar {
    background: linear-gradient(#1E1E37 55%, #000000);
}

.sidebar .nav {
    margin-top: 0;
}

.sidebar .logo:after {
    display: none;
}

.sidebar .logo {
    padding: 5px 20px;   
}

.sidebar .logo .simple-text {
    text-align: left;
}

.sidebar .sidebar-background {
    background-image: initial !important;
}

.sidebar .sidebar-background:after {
    background: initial !important;
}

.sidebar .nav li a, 
.sidebar .nav li 
.dropdown-menu a {
    color: #fff;
    margin: 0 0 0;
    border-radius: 0;
}

.sidebar .nav li:first-child>a {
    margin: 0 0;
}

.sidebar .nav li.active>a, 
.sidebar .nav li.active>a i {
    background-color: #1b1b28;
    box-shadow: none;
}

.sidebar .nav li:hover>a, 
.sidebar .nav li .dropdown-menu a:hover, 
.sidebar .nav li .dropdown-menu a:focus, 
.sidebar .nav li.active>[data-toggle="collapse"] {
    background-color: #1b1b28;
    color: #fff;
}

.navbar.navbar-transparent {
    background-color: #fff !important
}

.sidebar .nav li.dashboard i {
    width: 40px;
    margin-right: 10px;
}

.sidebar .nav li.dashboard i img {
    width: 35px;
    position: relative;
    top: -6px;
}

.sidebar .nav li .collapse i img {
    width: 18px;
}

.sidebar .nav li .collapse ul li a {
    padding-left: 25px;
}

.sidebar .nav li p {
    font-weight: 700;
}

.card-stats .card-header .card-category {
    font-weight: 700;
}

.sidebar .nav li a {
    border-bottom: 1px solid #3c3c3c;
}

.sidebar .nav li .collapse .nav li a {
    border-bottom: 0;
}

.sidebar .nav li .collapse .nav li:last-child a {
    border-bottom: 1px solid #3c3c3c;
}

.sidebar .nav li .collapse .sidebar-normal {
    font-weight: 600;
}

/**/
.card .card-header-primary .card-icon, 
.card .card-header-primary .card-text, 
.card .card-header-primary:not(.card-header-icon):not(.card-header-text), 
.card.bg-primary, 
.card.card-rotate.bg-primary .front, 
.card.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, #649345, #274414);
}

.card .card-header .card-title {
    font-size: 30px;
    font-weight: 700;
}